:root {
    --bg-color: #121212;
    --bubble-color: #070727;
    --accent-color: #7d5fff;
    --text-color: #f8f8ff;
}
body {
    background-image: url('blue.jpg');
    color: var(--text-color);
    font-family: Comic Sans MS, Comic Sans, cursive;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.result-container {
    background-color: var(--bubble-color);
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 20px 40px var(--bubble-color);
    margin-bottom: 30px;
    overflow-y: auto;
    max-height: 800px;
    position: relative;
    max-width: 800px;
    margin: 0 auto;
}

.result-container h1 {
    color: var(--text-color); 
    font-size: 3em; 
    margin-bottom: 0.5em;
    text-align: center;
}

.result-container p {
    color: var(--text-color); /* Use the consistent off-white text color */
    font-size: 1.2em;
    margin-bottom: 1em;
    padding-bottom: 10px;
    text-align: left;
}
.back-link-container {
    position: relative;
    display: flex;
    transform: translate(-88em, 29em);
    margin-top: 20px;
    border-radius: 20px;
    box-shadow: 0 20px 40px var(--bubble-color);
    background-color: var(--bubble-color);
}
.back-link {
    padding: 12px 20px;
    margin: 10px;
    background: var(--accent-color);
    color: var(--text-color);
    border: none;
    border-radius: 30px;
    font-size: 1em;
    cursor: pointer;
    transition: all .3s;
}

.back-link:hover {
    background-color: #6743ff;
    box-shadow: 0 6px 15px rgba(125, 95, 255, 0.6);
}

ul li {
    font-size: 1.2em;
}